<a href="https://colab.research.google.com/github/Rynnsya/Jobsheet-06-List-Dimensi-1-dan-Dimensi-2-/blob/main/Rasya_Pandu_Wicaksono_Jobsheet6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 1 Membuat dan Mengakses List ID

In [1]:
mahasiswa = ["Andi", "Budi", "Cici"]

print(mahasiswa[0])   # Andi
print(mahasiswa[1])   # Budi
print(mahasiswa[-1])  # Cici

Andi
Budi
Cici

Praktikum 2 Update dan Operasi Dasar List

In [2]:
nilai = [85, 90, 78]

nilai[1] = 95
nilai.append(100)
nilai.remove(78)

print(nilai)

[85, 95, 100]

Praktikum 3 Slicing List

In [3]:
nilai = [85, 90, 78, 92, 88]

print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Praktikum 4 List 2D ( Matriks )

In [4]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

Praktikum 5 Operasi pada List 2D

In [5]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

Praktikum 6 Studi Kasus : Pengelolaan Nilai Mahasiswa

In [6]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

Penugasan 3 Akses Elemen List

In [7]:
mahasiswa = ["Andi", "Budi", "Cici", "Dina", "Eko"]

print("Nama pertama :", mahasiswa[0])
print("Nama terakhir :", mahasiswa[-1])
print("Nama pada indeks ke-2 :", mahasiswa[2])

Nama pertama : Andi
Nama terakhir : Eko
Nama pada indeks ke-2 : Cici

Penugasan 4 Operasi Dasar List

In [8]:
# Membuat list awal
nilai = [70, 75, 80]

# Ubah nilai kedua (indeks 1) menjadi 85
nilai[1] = 85

# Tambahkan nilai 90 ke dalam list
nilai.append(90)

# Hapus nilai 70 dari list
nilai.remove(70)

# Cetak hasil akhir
print(nilai)

[85, 80, 90]

Penugasan 5 Slicing List

In [9]:
# Membuat list angka dari 1 sampai 10
angka = list(range(1, 11))

# Menampilkan 3 elemen pertama
print("3 elemen pertama:", angka[:3])

# Menampilkan 4 elemen terakhir
print("4 elemen terakhir:", angka[-4:])

# Menampilkan elemen dengan indeks genap saja
print("Elemen dengan indeks genap:", angka[::2])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

Penugasan 6 List 2D - Matriks

In [10]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Baris pertama kolom kedua:", matriks[0][1])

print("Baris kedua kolom ketiga:", matriks[1][2])

print("Seluruh baris pertama:", matriks[0])

Baris pertama kolom kedua: 2
Baris kedua kolom ketiga: 6
Seluruh baris pertama: [1, 2, 3]

Penugasan 7 Operasi Matriks 2D

In [11]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

hasil = [
    [A[0][0] + B[0][0], A[0][1] + B[0][1]],
    [A[1][0] + B[1][0], A[1][1] + B[1][1]]
]

print("Matriks A:")
print(A)
print("Matriks B:")
print(B)
print("Hasil penjumlahan A + B:")
print(hasil)

Matriks A:
[[1, 2], [3, 4]]
Matriks B:
[[5, 6], [7, 8]]
Hasil penjumlahan A + B:
[[6, 8], [10, 12]]

Penugasan 8 Rata - rata Nilai Mahasiswa

In [12]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i in range(len(nilai)):
    rata_rata = sum(nilai[i]) / len(nilai[i])
    print(f"Rata-rata mahasiswa {i+1}: {rata_rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

Penugasan 9 Studi Kasus - Data Toko

In [13]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar stok barang:")
for barang in stok:
    print(f"{barang[0]}: {barang[1]}")

terbanyak = stok[0]
for barang in stok:
    if barang[1] > terbanyak[1]:
        terbanyak = barang

print(f"\nBarang dengan stok terbanyak: {terbanyak[0]} ({terbanyak[1]} buah)")

Daftar stok barang:
Buku: 20
Pulpen: 35
Penghapus: 15

Barang dengan stok terbanyak: Pulpen (35 buah)